.form1{
    background-color: gray;
    font-size: 50px;
    margin-left: 20px;
    align-content: center;
}
.header{
    padding-top: 30px;
}
.boton1{
    text-align: right;
}
.aside{
    text-align: right;
}
.img1{
    width: 150px; height: 35px ;
}

